{% extends "layout.html" %}
{% block title %}Code of Conduct{% endblock%}
{% block body %}

<p>
    This page reflects the programme's current <em>Code of Conduct</em> (CoC), explaining what is expected of students and teachers. The CoC is not set in stone - as a group we should strive to make it better! In this case <em>better</em> is defined as enabling more effective learning and being more pleasant for everyone involved. Feel free to propose your ideas in a group discussion.
</p>

<div class="tab-selectors">
    <a>Daily schedule</a>
    <a>Our offices</a>
    <a>Assignments</a>
    <a>Exams</a>
    <a>Lacking performance</a>
    <a>Misc</a>
</div>

<div class="tab-blocks">
    <ul>
        <li>Opening hours are between 8:00 and 22:00. At least one of the teachers will generally be present between 8:30 and 17:30.</li>
        <li>Every working day between 9:00 and 9:15, each class does a kickoff meeting.</li>
        <li>From 12:00 until 12:45 is lunch time. Everyone is encouraged to join around the central desks or in the Iglo, eating whatever food they brought from home. Or people can decide to go on a lunch walk (optionally visiting Spar to get some food). When there are lunch talks (which will be announced in advance) or all-hands meetings, going out is not an option though. Lunch is important for team building &mdash; please be social and inclusive!</li>
        <li>Between 12:45 and 13:30 is focussed work time for everybody. No breaks and no distractions, please get back to work!</li>

        <li>Attendance:<ul>
            <li>The learning management system (LMS) registers your on-site working hours. This is how it works:
                <ul>
                    <li>Whenever you have the LMS website open, it will send regular pings to the server.</li>
                    <li>The server just stores the time of the first and the time of the last incoming ping for each day for each user.</li>
                    <li>Only time between 8:00 and 18:00 is logged.</li>
                    <li>Students arriving before 9:00 (in time for the kickoff) get half an hour of bonus time logged.</li>
                </ul>
            </li>
            <li>Students are expected to clock <em>at least</em> 7 hours per working day on average, including (lunch) breaks. Due to the bonus half hour, the minimum is actually 6½ hours for students arriving before 9:00. Some examples of working days that meet the bare minimum:
                <ul>
                    <li>8:00 - 14:30</li>
                    <li>11:00 - 18:00</li>
                </ul>
                It is of course recommended to attend the kickoff at 9:00 and to clock <em>more</em> hours than just the bare minimum. This helps you make solid progress, but also builds some buffer in case you get sick by the end of the octant.
            </li>
            <li>In case your personal circumstances (such as a side job, child care, medical conditions, ...) make being on-site full time unfeasible, you may file a <a href='#lacking_performance'>request for leniency</a>.</li>
            <li>As short-term sickness and other (valid) reasons for being absent usually cannot be verified, on-site hours expectations will <em>not</em> be relaxed in these circumstances. It should however be easy enough to compensate for occasional days of absence.</li>
        </ul></li>

        <li>Coding sessions:<ul>
            <li>Between 12:45 and 13:30 coding sessions are held. During a coding session, a group of up to fifteen students and one teacher will gather around the Iglo screen for an interactive coding workshop on a specific curriculum topics. The teacher will be at the keyboard. Students are expected to propose and discuss implementation techniques.</li>
            <li>Each coding session is meant as a practical introduction for an assignment. They are shown in the <a href="/curriculum">assignment overview</a> right above the associated assignment.</li>
            <li>During the Monday kick-off, coding sessions topic for that week will be announced.</li>
            <li>Students must register for coding sessions by writing their names on the list in the Iglo. At most 15 students (the first ones to register) can attend a session.</li>
            <li>Students are expected to attend the coding session for each topic (at least) once.</li>
            <li>Ideally, participants for a coding session should have (mostly) finished the assignment <em>before</em> the coding session. It may also be a good idea to start working/studying on the assignment <em>after</em> the coding session for a couple of hours, but probably not longer than that.</li>
        </ul></li>
    </ul>

    <ul>
        <li>Working areas:<ul>
            <li>Each class has its own working area (informally known as <em>the sweatshop</em> and <em>the jungle</em>).</li>
            <li>While people are working, please keep the noise down! It is okay to talk about the subject matter in a calm voice. It is also okay to be nice, say good morning, etc. It's not okay to have a prolonged conversation about personal matters, or to joke around (unless your jokes are exceptionally witty and enjoyable). All of this does not apply during lunch or other social gatherings, of course.</li>
            <li>Desks can only be claimed for the duration of one day, on a first-come first-serve basis. In case you have any special requirements that cause you to prefer a specific desk, an exemption to this rule may be made. Talk to your teacher.</li>
            <li>Students who are planning to do an exam the next day, can reserve a desk by planting one of the checkered flags on it.</li>
            <li>Please empty/clean your desk before you leave. You can put your (coffee) mug in the cupboard in your working area, in the grid square with your name on it.</li>
        </ul></li>

        <li>Iglo:<ul>
            <li>The Iglo, the coffee machine area, is where you can go to take a break, put your feet up, have some fun, etc. People who like working in a more lively environment are also free to bring their laptops here and grab a chair, a bean bag or a standing desk. There should be some quiet music playing here, to help set a relaxed atmosphere.</li>
            <li>This is also the home of <a href="https://tuks.dev" target="_blank">Study Association Tuks</a>.</li>
            <li>The room is shared between the two classes.</li>
            <li>During kick-offs, coding sessions and other presentations, the coffee machine is off limits due to the noise.</li>
            <li>After 16:30, there can be some more liveliness in the Iglo. Music can be a bit louder, the game console can be used, etc.</li>
            <li>Coffee and tea are available for free for members of study association Tuks. Please adhere to the instructions posted near the coffee machine. And please bring your own cup/mug, to reduce needless waste and clutter from throwaway cups.</li>
            <li>Tuks members can buy snacks from the cupboard and drinks from the fridge using the sales terminal running on the laptop in the cupboard.</li>
            <li>Alcoholic beverages bought from study association Tuks may be consumed in the Iglo after 16:00.</li>
            <li>When you leave the Iglo, please take your cup/mug, garbage and any belongings with you.</li>
        </ul></li>

        <li>Your home office:<ul>
            <li>Working from home is allowed if you have made a special arrangement to do so for specific days of the week, or in case you may have caught a virus you don't want to spread around.</li>
            <li>In order to participate while at home:<ul>
                <li>For messaging <a href="https://discord.gg/UgnKCA9Sda">the programme's Discord server</a> can be used. Each class has its own private channel, and there are a couple of channels for various other purposes. We recommend that you install the Discord app on your mobile phone, so that you can receive (important) notifications at any time.</li>
            </ul></li>
        </ul></li>

        <li>When you're the last one to leave our offices (having even outworked all of the teachers!), please lock both doors from the inside before you leave. Afterwards you can make your exit through the middle door to the staircase, which cannot be opened from the outside.</li>
        <!--
        <li>1.5m restriction:<ul>
            <li>The 1.5m restriction is in full effect, and we really have to abide by it if we want keep working on-site.</li>
            <li>If you see people getting to close, please provide a friendly reminder. We all know it's an easy mistake to make when being in the same room(s) all day, but we can't afford those mistakes. We <em>will</em> be scrutinized.</li>
            <li>When getting or providing help, you'll often want to look at the same monitor together. As that's hard to do at 1.5m, the two standing desks have been converted into <em>help desks</em>. They contain a monitor that can be attached to the laptop of the one seeking help. The helper can stand on the other side of the desk, looking at the monitor.</li>
        </ul></li>
        -->
    </ul>


    <ul>
        <li>Within the LMS (Learning Management System - the site you're looking at), you can choose which assignment you want to work on. You get to choose between the first unfinished assignment of each of the three modules in your current period.</li>
        <li>When starting work on an assignment the LMS will set you a deadline. This deadline is set a bit more generously (by a factor of 1.5) than the expected time you'd need for the assignment. You should submit your work before the deadline, even if it's not finished yet. Working for too long on an assignment can be frustrating and drain your motivation. Therefore, it's better to switch to a different assignment at that time. A teacher will discuss your partial work with you at a later time, and together you can determine how to proceed with the failed assignment.</li>
        <li>After handing in an assignment, a teacher will approach you to discuss your work. Generally this will happen sometime during the next working day. You will be asked to demo your program and you'll discuss code quality. An assignment is marked as completed when your grade is at least an 8 out of 10. This way, you'll have a solid foundation for the next, more complex, assignment. In case your work isn't yet good (or finished) enough, you will be asked to either work on the assignment some more (applying the feedback you got), or to start anew.</li>

        <li>Asking for help:<ul>
            <li>While learning about new concepts or while working on an assignment, it's common to get <em>stuck</em> not understanding something. If you've been stuck for about 15 minutes, not making any progress, you should ask for help. Asking for help is a natural aspect of learning. Ask a (friendly/smart looking) fellow student for help or post your questions on the <code>#help-me</code> Discord channel. If other students are unable to help you, feel free to approach a teacher for help.</li>
            <li>You are highly encouraged to help other students (unless of course they're working on an exam). Helping others will not only make you friends, it will also add to your understanding of the subject matter, as well as provide training in clear technical communication.</li>
            <li>When asking someone for help (be it a fellow student or a teacher), please ask politely and allow the helper some time. When programming, people often get (and <em>should get</em>) <a href="https://www.youtube.com/watch?v=iUsOCR1KKms" target="_blank">into the flow</a>. In the flow, a programmer may be juggling with many tidbits of information in her/his short term memory, such as meanings of variables and functions, designs, things that still need to be done, and theories behind bugs. An interruption at the wrong time may cause all that information to be lost. So when asked for help, a perfectly acceptable answers could be: sure, let me finish this up and make some notes, and I'll get back to you in about 5 to 10 minutes!</li>
        </ul></li>

        <li>End-of-quarter projects:<ul>
            <li>During the last two days of each quarter, we're doing a fun little project.</li>
            <li>As part of the <em>1.4 Software teams</em> module, you'll need to participate in such a project at least four times.</li>
            <li>The dates and more information about the projects can be found [here](/curriculum/teamdays1).</li>
            <li>Pro tip: put the dates in your calendar. Expect the app presentations and celebrations on Friday to last until 17:30.</li>
        </ul></li>
    </ul>

    <ul>
        <li>Exams can only be taken on-site.</li>
        <li>All students are entitled to two exam attempts per module per study year. In extraordinary cases students can request an additional attempt via the Examination Board.</li>
        <li>When you're planning to take an exam, please let the teachers know about this (when and what exam) in the <code>#exam-request</code> Discord channel at the latest at noon on the proceeding working day.</li>
        <li>You are not allowed to communicate about anything related to the exam. Not during and not after. The only thing you're allowed to say is a very general remark on how you experience(d) the exam (<em>easy peasy!</em> or <em>that was bad!</em>, and nothing more). When any violation of this rule is noted, a complaint must be filed with the Examination Board.</li>
        <li>While taking an exam, put one of the checkered flags on your desk. This signals to others that you should not be disturbed, and certainly not be asked about your work.</li>
        <li>Taking a break and talking with others <em>is</em> of course allowed, as long as the exam is not a subject.</li>
        <li>Grading for most exams is based on your work in combination with a (short) oral assessment. If you're unable to explain your work, your grade may adjusted accordingly, or, in extreme cases, a plagiarism complaint may be filed with the Examination Board. Examiners may choose to skip the oral assessment.</li>
        <li>After an exam has been assessed and graded, you're required to delete your exam work from your laptop. You are not to make any copies.</li>
        <li>While working on an exam, your laptop should remain in the classroom at all times.</li>
        <li>When you're taking a multi-day exam, it should not spawn a weekend and you should leave your laptop at school over night. If you prefer not to leave your laptop, please talk to the teachers well in advance, so that they can arrange another computer for you to work on.</li>
        <li>During an exam, you're allowed to draw from your earlier work and to access any online resources. Copying code fragments is allowed, if given proper attribution in the comments. You are however <em>not</em> allowed to actively seek help online, through chat, forums or any other means. So, for instance, you may read existing answers on StackOverflow, but you may not ask questions there. Also, you are not allowed to seek help from AI tools such as ChatGPT and Copilot. This restriction does <em>not</em> apply to exam <em>projects</em> and graduation work.</li>
        <li>You must submit your work at the latest at 17:30 on the last day of your exam.</li>
        <li>Unless stated otherwise in the exam, only grades of 5.5 and higher are passing grades. That means that 5.499 is <em>not</em> a passing grade.</li>
    </ul>

    <ul>
        <li>Until you have completed the first year (60 ECTS) of the programme, your performance will be evaluated after every octant (5 working weeks).</li>
        <li>When with regard to this octant you..<ul>
            <li>meet the <a href="#daily_schedule">attendance expectations</a> and..<ul>
                <li>progressed at at least ½ nominal pace (0.5), your performance is considered satisfactory.</li>
                <li>progressed at a lower pace, your performance is considered lacking.
            </ul></li>
            <li>do <em>not</em> meet the <a href="#daily_schedule">attendance expectations</a> and..<ul>
                <li>progressed at at least ⅔ nominal pace (0.66), your performance is considered satisfactory.</li>
                <li>progressed at a lower pace, your performance is considered lacking.</li>
            </ul></li>
        </ul></li>
        <li>Relevant octant statistics can be found on your LMS profile page.</li>
        <li>In case your performance is found to be lacking for the first time or was satisfactory in the previous octant, you will receive a warning and sit down with your study coach to discuss how to improve your performance.</li>
        <li>In case your performance is found to be lacking for two subsequent octants, you'll be placed in <em>discipline class</em>, in an attempt to help you develop more effective working habits.</li>
        <li>You 'graduate' from <em>discipline class</em> after 10 successful days.</li>
        <li>When you're in <em>discipline class</em> you must...<ul>
            <li>Be in our offices between at least 9:00 and 15:30. If you're late you'll be refused access and your discipline counter will be reset. Coming late as a result of external circumstances will be accepted when 1) the problem is incidental rather than structural, 2) you report the problem as soon as you know you'll be late, and 3) you can provide us with some (photographic) evidence.</li>
            <li>Work in a fixed <a href="https://todoist.com/nl/productivity-methods/pomodoro-technique">Pomodoro</a> schedule:<ul>
                <li>8:30 - 9:00: Optional relaxed work</li>
                <li>9:00 - 9:15: Kick-off</li>
                <li>9:15 - 10:00: Focussed work</li>
                <li>10:00 - 10:15: Break</li>
                <li>10:15 - 11:00: Focussed work</li>
                <li>11:00 - 11:15: Break</li>
                <li>11:15 - 12:00: Focussed work</li>
                <li>12:00 - 12:45: Lunch break</li>
                <li>12:45 - 13:30: Focussed work</li>
                <li>13:30 - 13:45: Break</li>
                <li>13:45 - 14:30: Focussed work</li>
                <li>14:30 - 14:45: Break</li>
                <li>14:45 - 15:30: Focussed work</li>
                <li>15:30 - 17:30: Optional relaxed work (or coding session)</li>
            </ul></li>
            <li>Work at one of the desks designated for <em>discipline class</em> students.</li>
            <li>Concentrate only on your school work during <em>Focussed work</em> periods. When a teacher sees you doing anything else, including doing anything on your phone (other than testing your Android or PWA apps), you receive a single warning. If it happens again on the same day, your discipline days counter will be reset and you will be asked to leave the classroom for the day.</li>
            <li>In case you are sick or otherwise unable to come to school due to <a href='https://en.wikipedia.org/wiki/Force_majeure'>force majeure</a>, you should report your reason for absence as early as possible. Reporting sick at 8:55 is not very convincing. If you don't have a good reason for being absent, your discipline days counter will be reset. Absent days (even with a valid reason) never count as <em>discipline class</em> days.</li>
            <li>During exams these rules don't apply. Exam days don't count as <em>discipline class</em> days though.</li>
        </ul></li>
        <li>Students struggling to get out of <em>discipline class</em> will need to sit down with their study coach, who can help them find solutions.</li>
        <li>Negative study advice:<ul>
            <li>When the teachers, collectively, in their professional opinion, believe that a student will not be able to finish the study programme within a somewhat reasonable time frame, they will officially communicate this by giving a negative study advice.</li>
            <li>Students that still haven't graduated from <em>discipline class</em> when the octant ends (after 5 weeks) and students that haven't been able to improve their performance despite discipline class will be considered for negative study advice.</li>
            <li>Students that receive a negative study advice are expected to withdraw from the programme.</li>
        </ul></li>
        <li>In case you feel any of these rules are unfair, unreasonable or unproductive in your case, please file a <em>request for leniency</em> by sending an email to your study coach. In this request, you should explain <em>how</em> you propose to bend the rules (be specific) and motivate <em>why</em> this exception is justified. The teachers will collectively decide if your requests will be accepted within two working weeks.</li>
    </ul>

    <ul>
        <li>Please be inclusive, language-wise. Don't speak Dutch (or any other language for that matter) when around people that don't speak the language. Our only official language is English.</li>

        <li>Please be so kind to upload an actual photo of your face as your avatar in the LMS. Learning a lot of new names at once can be hard, so it would be great if we could use the <a href="/people">People page</a> as a cheat sheet.</li>

        <li>Study counselling:<ul>
            <li>During the first two weeks of each octant, you will be invited to a private conversation with your study coach.</li>
            <li>We expect you to attend at least in octant 1 and 5. In other octants you're free to skip the conversation if you don't have anything you'd like to discuss. In case your performance was lacking in the previous octant, we <em>do</em> expect you to attend.</li>
        </ul></li>

        <li>Degree programme committee:<ul>
            <li>The Software Development programme has a <em>Degree programme committee</em>, composed of three students and three faculty members. It exists to advice Saxion management on all kinds of matters related to the programme. More information can be found in the <a href="https://saxion.sharepoint.com/sites/site000001/Weten%20en%20regelen%20medewerkers/Onderwijs/Wet-%20&amp;%20regelgeving/Regelingen/ENG_Medezeggenschapsreglement%20Saxion%2008102918%20definitief.pdf?csf=1&amp;e=UiUspV&amp;cid=b97b4937-2d88-4059-bd92-d22c6be1b434">Saxion University Council Regulations</a>.</li>
            <li>The committee meets (at least) six times per year. Student member are entitled to a financial compensation for each attended meeting.</li>
        </ul></li>

        <li>Changing this document:<ul>
            <li>This code of conduct is not meant to be set in stone. Proposals for how to make things better (or more fun!) are very welcome. You can discuss your ideas with the teachers, or submit them as input to the <em>Degree programme committee</em>.</li>
        </ul></li>

        <li>Links to relevant Saxion services:<ul>
            <li><a href="https://mijn.saxion.nl/">Mijn Saxion</a>. A portal containing links to a lot of information and Saxion application.</li>
            <li><a href="https://mail.saxion.nl/">Mail</a>. Access your Saxion email online.</li>
            <li><a href="https://servicedesk.saxion.nl/tas/public/ssp/823b0537-942e-40e3-8dcf-392da5bc5431">Examination Board request application</a>. Can be used request an special exemption or to file an official complaint about an exam.</li>
            <li><a href="https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies">Study Success Centre </a>. If you run into trouble with your studies or your personal life, the Study Success Centre may be able to provide assistance.</li>
            <li><a href="https://mijn.saxion.nl/students/knowledgebase/topics/my-school-act-studenten/null/organisation?question=eer-act">Education and Examination regulation</a>.</li>
            <li><a href="https://bison.saxion.nl">Bison</a>. Official grade registration.</li>
            <li><a href="https://www.actstudenthelp.nl/">ACT Student Help</a>. Info on how to cope with many kinds of issues that might pop up during your studies.</li>
            <li><a href="https://sd42.nl/happy-coding/">Happy Coding</a>All kinds of advice that may benefit you as a software developer and as a human</li>
        </ul></li>
    </ul>

</div>

{% endblock %}
