{% extends "layout.html" %}

{% block title %}
Inbox
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

{% include 'grading-queue.html' %}

{% if order == 'class' %}
<a role="button" class="outline mar3" href="?order=date">show by date</a>
{% else %}
<a role="button" class="outline mar3" href="?order=class">show by class</a>
{% endif %}

{% if show == 'today' %}
<a role="button" class="outline mar3" href="?show=all">show full inbox</a>
{% else %}
<a role="button" class="outline mar3" href="?show=today">show today's queue</a>
{% endif %}

{% endblock %}